body{
    background-color: rgb(6, 6, 41);
}

#bigtext{
    margin-top: 25px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pangolin', cursive;
    font-size: 58px;
}
#africa {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}
#midcontent{
    margin: 20px 20px 20px 20px;
}
.fisher{
    margin-left: 20%;
    border: solid 4px yellow;
}
#fisherman {
    background-image: url("../Assets/89-892893_gye-nyame-akan-symbols-and-meaning-hd-png.png");
    /* background-repeat: no-repeat;
    background-size: contain; */
    /* height: 400px; */
    /* margin-left: 30px; */

}
#maintext{
    font-family: 'Dancing Script', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    /* margin-top: 10%; */
    font-size: 20px;
}
.main-form{
    width: 70%;
}
#fingerprint{
    width: 30%;
    margin-top: 30px;
    margin-left: 10%;
    /* height: 10%; */
}
#finger{
    height: 450px;

}
#maindiv{
    box-sizing: border-box;
    border: solid red 4px;
    height: 600px;
}
#submit{
    background-color:yellow;
    padding: 5px;
    color: black;
}
#footer{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}
